.edit {
  background: whitesmoke;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .dataitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(220, 220, 228, 0.815);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 10px 1px rgb(201, 201, 201, 0.5);

    .item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 10px;

      label {
        width: 4rem;
        font-weight: bold;
      }

      button {
        cursor: pointer;
        background-color: lightcoral;
        color: white;
        border: none;
        width: 4rem;
        height: 1.5rem;
        border-radius: 2px;

        &:hover {
          background-color: lightsalmon;
        }
      }
    }
  }
}
